<header>
  <div class="row flex-center">
    <%= link_to "<h1>pace.family</h1>", "/" %>
  </div>
  <div class="row flex-center">
    <h4>karate, bobalki, and bobby simai</h4>
  </div>
</header>

<nav>
  <div class="row flex-center">
    <a href="<%= relative_url '/austin_paces' %>" class="paper-btn">Austin Paces</a>
    <a href="<%= relative_url '/family' %>" class="paper-btn">Family</a>
    <a href="<%= relative_url '/random' %>" class="paper-btn">Random</a>
    <a href="<%= relative_url '/about' %>" class="paper-btn">About</a>
  </div>
</nav>
